body {
    margin: auto;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('bckground.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    text-align: center;
    width: 70%;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #e84a4a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 95%;
}

button:hover {
    background-color: #c23636;
}

.error-msg {
    color: #ffdddd;
    margin-top: 10px;
}

.racoon-img {
    width: 100px;
    margin-bottom: 15px;
}

#success-page {
    background: url('darktrees.png') no-repeat center center fixed;
    background-size: cover;
    color: #00ff00;
}
/* Mobile view adjustments */
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .card {
    flex: 1 1 100%; /* 3 per row */
  }
}
